.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }

  .divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }

.site-search ion-grid,
.site-search ion-row {
  height: 100%;
  justify-content: center;
}

  
  .line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  } 
  